@font-face {
  font-family: "Carena";
  src: url("../fonts/Carena-Regular.woff");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Carena";
  color: #664144 !important;
}

h1{
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

p, li, a {
  font-family: "Montserrat-Regular";
}

.bg-primary{
  background-color: #ECD3D3 !important;
}

.bg-secondary{
  background-color: #664144 !important;
}

.btn-primary{
  background-color: #664144 !important;
  border-color: #664144 !important;;
  color: #ECD3D3 !important;
}

.text-primary {
  color: #664144 !important;
}

.text-secondary {
  color: #ECD3D3 !important;
}

.text-justify{
  text-align: justify;
}


